.header{
    margin: 100px;
    display: flex;
    background-color: greenyellow;
}
.list{
   align-items: center;
    background-color: goldenrod;
}
.ulist{
    display: flex;
    float: right;
}

li{
    list-style: none;
    float: left;
}
.search, .cart{
    width:20px
}
.influencer{
    display: flex;
    margin:100px;
}
.prebook{
    background-color: blueviolet;
    width: 120px;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 700;
    padding-right: 50px;
}